body {
    font-family: Arial, sans-serif;
    background-color: #f6f6f6;
    text-align: center;
    padding-top: 30px;
}

h1 {
    color: #006666;
    margin-bottom: 30px;
    font-weight: 600;
}

#calculator {
    width: 230px;
    margin: auto;
    background: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
}

#display {
    height: 40px;
    background: #f1f1f1;
    border-radius: 5px;
    margin-bottom: 20px;
}

#keys {
    display: grid;
    grid-template-columns: repeat(4, 45px);
    gap: 10px;
    justify-content: center;
}

button {
    height: 40px;
    border: none;
    background: white;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.25);
    cursor: pointer;
}

.op {
    background: black;
    color: white;
}

.clear {
    background: red;
    color: white;
}

