body {
    font-family: "Poppins", sans-serif;
    background: #ffffff;
}

.schedule-container {
    width: 90%;
    max-width: 1100px;
    margin: 20px auto;
}

.title {
    text-align: center;
    font-size: 40px;
    color: #1d3557;
    font-weight: 700;
    margin-bottom: 20px;
}

.schedule-grid {
    display: grid;
    grid-template-columns: 120px repeat(5, 1fr);
    gap: 12px;
}

.header {
    background: #ffccec;
    padding: 12px 0;
    text-align: center;
    border-radius: 25px;
    font-weight: 600;
    font-size: 18px;
    color: #333;
}

.header:nth-child(n+2) {
    background: #ffe99c;
}

.time {
    background: #b6ebf7;
    padding: 15px;
    text-align: center;
    border-radius: 20px;
    font-weight: 600;
    font-size: 18px;
}

.cell {
    padding: 18px;
    border-radius: 25px;
    text-align: center;
    font-size: 17px;
    color: #333;
    font-weight: 500;
}

.pink {
    background: #ffd7ef;
}

.yellow {
    background: #ffe9a9;
}

.note-box {
    background: #b6ebf7;
    margin-top: 25px;
    padding: 15px;
    border-radius: 15px;
    font-size: 16px;
}
